.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container.flipped .flipper {
    -webkit-transform: rotateY(180deg);
    /* WebKit */
    -moz-transform: rotateY(180deg);
    /* Mozilla */
    -o-transform: rotateY(180deg);
    /* Opera */
    -ms-transform: rotateY(180deg);
    /* Internet Explorer */
    transform: rotateY(180deg);
    /* CSS3 */
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    /* WebKit */
    -moz-transform-style: preserve-3d;
    /* Mozilla */
    -o-transform-style: preserve-3d;
    /* Opera */
    -ms-transform-style: preserve-3d;
    /* Internet Explorer */
    transform-style: preserve-3d;
    /* CSS3 */
    position: relative;
}

/* hide back of pane during swap */
/*.front,*/
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    /* WebKit */
    -moz-transform: rotateY(0deg);
    /* Mozilla */
    -o-transform: rotateY(0deg);
    /* Opera */
    -ms-transform: rotateY(0deg);
    /* Internet Explorer */
    transform: rotateY(0deg);
    /* CSS3 */
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    /* WebKit */
    -moz-transform: rotateY(180deg);
    /* Mozilla */
    -o-transform: rotateY(180deg);
    /* Opera */
    -ms-transform: rotateY(180deg);
    /* Internet Explorer */
    transform: rotateY(180deg);
    /* CSS3 */
}

#choice {
    display: none
}